<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Encrypted Pass:</strong>
  <%= @user.encrypted_password %>
</p>

<p>
  <strong>User is Admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>customer:</strong>
  <% if @user.customer != nil %>
  <%= @user.customer.company.to_s %>
  <% else %>
  No cusomter assigned. 
  <% end %>
</p>


<%= link_to 'Edit', edit_admin_path(@user) %> |
<%= link_to 'Back', admin_index_path %>
