


<div id='bodybag'>
<div id='detail-leftpanel-container' class='top-element-box'>
<table class='clientinfotable'>

<tr><td><h2>Client Info</h2></td></tr>

<tr><td class="datalabel">Company:</td> <td class="dataitem"><%= @currcustomer.company %></td></tr>
<tr><td class="datalabel">Address:</td> <td class="dataitem"><%= @currcustomer.street_address %></td></tr>
<td class="datalabel"></td> <td class="dataitem"><%= @currcustomer.locality + ', ' + @currcustomer.region + ' ' +@currcustomer.postcode.to_s %></td>
<tr><td> </td></tr>
<tr><td class="datalabel">Logged in as:</td> <td class="dataitem"><%= @curruser.email%></td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td><h2>Facility Info</h2></td></tr>
<tr><td class="datalabel">Name:</td> <td class="dataitem"><%= @building.buildingname %></td></tr>
<tr><td class="datalabel">Address:</td> <td class="dataitem"><%= @building.street_address %></td></tr>
<tr><td class="datalabel"></td> <td class="dataitem"><%= @building.locality + ', ' + @building.region + ' ' +@building.postcode.to_s %></td></tr>
</h2>
</table>
</div>
<div id="detail-centerpanel-container" class="top-element-box">
<span class="datalabel"><h2>Floorplans:</h2></span>
     <div class="bss-slides num1"  tabindex="1" autofocus="autofocus" >
             <section id="focal">
                <div class="panzoom">.

                  <figure class="" >
                     <%= inline_svg 'testdrawing.svg' %>
                     </figure>
                        

                <% if false %>
                    <% @floorplans.each do |floorplan| %>
                     <figure class="" >
                        <%= inline_svg floorplan.building_id.to_s + '-' + floorplan.level.to_s + '.svg' %>
                     </figure>
                      <% end %>
                   <% end %>
                       
                   
                  </div>
                </section>
  </div>  
    <div id = "buttons">
                    <button class="zoom-in">Zoom In</button>
                    <button class="zoom-out">Zoom Out</button>
            
                    <button class="reset">Reset</button>
                  </div>               
</div>

<div id='detail-rightpanel-container' class='top-element-box' >
    <div id="building-map" style='height: 100%;'></div> 
 </div>


<div id="index-bottompanel-container" class ="bottom-element-box">
<h2>Available Reports</h2>
<%= render partial:  'reports_grid' %>
</div>

</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'building-map'}}, function(){
 markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});


       (function() {
          var $section = $('#focal');

          var $panzoom = $section.find('.panzoom').panzoom({
            startTransform: 'scale(1.2)',

            });
          $panzoom.panzoom("option", {
              increment: 0.4,
              duration: 200,
              contain: '',
              minScale: 1,
              maxscale: 20,
              cursor: '',
              $reset: $("button.reset"),
              $zoomIn: $("button.zoom-in"),
              $zoomOut: $("button.zoom-out"),

            });

          $panzoom.parent().on('mousewheel.focal', function( e ) {
            e.preventDefault();
            var delta = e.delta || e.originalEvent.wheelDelta;
            var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
         
            

            $panzoom.panzoom('zoom', zoomOut, {
              increment: 0.4,
              animate: true,
              
              focal: e
            });

          });


        })();





var opts = {
    auto : false,
    fullScreen : false, 

};
makeBSS('.num1', opts);


     
   
   
  


</script>



