
<% if !current_user.is_admin %>
<h3>Currently viewing reports and AHERA data for
<%= @currcustomer.company %></h3>
<% else %>
<h3>Currently administering reports and AHERA data for all customers</h3>
<% end %>
<div id="top-menu-container">
 <% if current_user.is_admin %>
<ul style="width:500px;" id="menu">
	<li><%= link_to 'View/Download AHERA Data', ahera_index_path %></li>
	<li><%= link_to 'View/Download Reports', reports_path %></li>
	<li><%= link_to 'Admin Panel', admin_index_path %></li>
</ul>
<% else  %>
<ul style="width: 300px;" id="menu">
		<li><%= link_to 'View/Download AHERA Data', ahera_index_path %></li>
	<li><%= link_to 'View/Download Reports', reports_path %></li>
</ul>
<% end %>
</div>
<script>
$( "#menu" ).menu();
</script>