<h2>Listing buildings</h2>

<table>
  <thead>
    <tr>
      <th>Building ID</th>
      <th>Building Name</th>
      <th>Client ID</th>
      <th>Street Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Customer</th>
      <th>Lon.</th>
      <th>Lat.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.id %></td>
        <td><%= building.buildingname %></td>
        <td><%= building.buildingid %></td>
        <td><%= building.street_address %></td>
        <td><%= building.locality %></td>
        <td><%= building.region %></td>
        <td><%= building.postcode %></td>
        <td><%= building.customer.company %></td>
        <td><%= building.longitude %></td>
        <td><%= building.latitude %></td>
        
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
