

<%= form_for @report, :html => {:multipart => true} do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Report Title"%><br>
    <%= f.text_field :reportname %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">   
  <%= f.label "Select a file to upload. Matching filenames will be overwritten."%><br>
    <%= f.file_field :pdf %>
  </div>
<% if current_user.is_admin %>
<%if !@report.new_record?%>
  <div class="field">
    <%= f.label "Customer" %>
    <%= f.text_field :company_id, :readonly => true, :value => @customer.company %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label "Building" %><br>
      <%= f.collection_select :building_id, Building.order(:buildingname), :id, :buildingname, include_blank: false %>
  </div>

    <% else %>
    <%= f.label "Customer" %>
    <%= f.text_area :customer, :readonly => true, :value => current_user.customer  %>
  <% end %>

  <div class="field">
    <%= f.label :report_date %><br>
    <%= f.date_field  :report_date, :class => "hasDatepicker",:id =>'datepicker' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
