<div class="reportheader"><h4>
<% unless current_user.is_admin %>
<%= 'Viewing reports for ' + @customer.company %> 
<% else%>
<%= 'Viewing reports for all customers'%> 
<% end %> | 
<%= link_to 'View AHERA data', ahera_index_path %>
</h4>
</div>
<%= render partial:  'grid' %>


<br>
<% if current_user.is_admin %>
<h3><%= link_to 'New Report', new_report_path %></h3>
<% end%>