<p id="notice"><%= notice %></p>

<p>
  <strong>Reportname:</strong>
  <%= @report.reportname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @report.filename %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @report.customer.company %>
</p>

<p>
  <strong>Report date:</strong>
  <%= @report.report_date %>
</p>
<h3>
<% if current_user.is_admin %>
<%= link_to 'Edit', edit_report_path(@report) %> |
<% end %>
<%= link_to 'Back', reports_path %>
</h3>