<!DOCTYPE html>
<html>
<head>
  <title>New York Environmental Customer Data Portal</title>

 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>


<body>
  <div class='center'>

<<<<<<< HEAD
        <div class='navbar'>

                <p class="navbar-text pull-right">
              <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
              <% end %>

        </div>
        
        <header>

          <div class='logo'>
            <%= link_to(image_tag('logo.png', :alt => 'logo'), root_path) %>
          </div>

       

          <div class='navfade'>
            <%= image_tag('navfade.png', :alt => 'navfade') %>
          </div>

        </header>

        <h1>
          NYE Customer Data Portal
        </h1>
=======
  <div class='navbar'>

  <p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

  </div>
  
  <header>

    <div class='logo'>
      <%= link_to(image_tag('logo.png', :alt => 'logo'), root_path) %>
    </div>

 

    <div class='navfade'>
      <%= image_tag('navfade.png', :alt => 'navfade') %>
    </div>

  </header>

  <h1>
    NYE Customer Data Portal
  </h1>
>>>>>>> 0bc37c08b4d63b506a4b9a28224069c4d6ab1dde






<<<<<<< HEAD
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>



      <%= yield %>
=======
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>



<%= yield %>
>>>>>>> 0bc37c08b4d63b506a4b9a28224069c4d6ab1dde


  
</div>
<<<<<<< HEAD

=======
>>>>>>> 0bc37c08b4d63b506a4b9a28224069c4d6ab1dde
</body>

</html>
